@import "tailwindcss";


@keyframes popIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.left .left-msg{
    background-color: #f0f0f5;
    padding: 15px;
    border-radius: 20px;
    width:fit-content ;
    max-width: 80%;
    border-bottom-left-radius : 0;
    font-size: 18px; 
    word-wrap: break-word;
    white-space: pre-wrap;
    animation: popIn 0.2s ease-out;
}

.right .right-msg{
    background-color: #4b46e1;
    padding: 15px;
    border-radius: 20px;
    width:fit-content ;
    max-width: 80%;
    border-bottom-right-radius : 0;
    font-size: 18px;  
    color: #fff; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    animation: popIn 0.2s ease-out;
 
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    animation: popIn 0.2s ease-out;

}

